<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Assignments</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>validFilter</filter-name>
    <filter-class>advancedjava.ValidFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>validFilter</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>checkFilter</filter-name>
    <filter-class>advancedjava.CheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>checkFilter</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>advancedjava.LoginProfile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeeDashboard</servlet-name>
    <servlet-class>advancedjava.EmployeeDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDashboard</servlet-name>
    <url-pattern>/employeehiddenlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeFetch</servlet-name>
    <servlet-class>advancedjava.EmployeeFetch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeFetch</servlet-name>
    <url-pattern>/hiddenform</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeHome</servlet-name>
    <servlet-class>advancedjava.EmployeeHome1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeHome</servlet-name>
    <url-pattern>/employeesessionregister</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>data</servlet-name>
    <servlet-class>advancedjava.Storedata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>data</servlet-name>
    <url-pattern>/storedata</url-pattern>
  </servlet-mapping>
</web-app>